<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/vidpost_form' %>
      </section>
    </aside>
    <div class="span8">
      
      <h3>Vidscreen Feed</h3>
      <div id="jscript_wrapper">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>VIDSCREEN ON</h1>
    <h2>
      <%= render "videos/video", width: 820 , height: 350, vid_id: "8deYjcgVgm8" %>
    </h2>
    <%= link_to "Sign up for Vidscreen", signup_path, class: "btn btn-large pull-left", id: "signup" %>
    <%= link_to "What is this and how does it work?", help_path, class: "btn btn-large pull-right", id: "help" %>
  </div>
<% end %>


